body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: saddlebrown;
}

h1:hover {
    cursor: default;
    color: rgb(89, 87, 87);
    transition: color 1s;
}

.quoteBox {
    margin-top: 75px;
    align-items: center;
    text-align: center;
}

#quote {
    font-size: xx-large;
    color: rgb(89, 87, 87);
}

button {
    padding: 2px 2px;
    font-size: large;
    animation: buttonHover 0.7s;
    color: rgb(42, 66, 67);
}

button:hover{
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.5s;}

#newQuoteButton {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

.author{
    font-size: x-large;
    color: sienna;
}