body {
    font-family: 'Times New Roman', Times, serif;
    background-color: linen;
}

h1 {
    text-align: center;
    color: saddlebrown;
}

h1:hover {
    cursor: default;
    color: rgb(89, 87, 87);
    transition: color 3s;
}

.quoteBox {
    margin-top: 75px;
    align-items: center;
    text-align: center;
}

#quote {
    font-size: xx-large;
    color: rgb(89, 87, 87);
}

button {
    padding: 2px 2px;
    font-size: large;
    animation: buttonHover 0.7s;
    color: #4f3b00;
    background-color:rgb(255, 241, 219);
}

button:hover{
    background-color: #f3eee1;
    cursor: pointer;
    transition: background-color 0.5s;}

#newQuoteButton {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    position: relative;
}

.author{
    font-size: x-large;
    color: sienna;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: medium;
    color: gray;
    margin: 0;
    padding: 5px 0;
}
footer a {
    text-decoration: none;
    color: gray;
}